#entry {
   border-radius: 5px;
   padding: 5px;
   color: rgb(255, 247, 240);
   margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
   background-color: rgb(8, 2, 20);
   padding: 5px;
   outline-style: none;
}

#window {
   animation-name: fadeIn;
   animation-duration: 0.4s;
   background-color: rgba(20, 11, 39, 0.9);
   font-size: 14;
}

#input {
   border: none;
   color: rgb(255, 247, 240);
   background-color: rgb(16, 12, 24);
   border-radius: 10px;
   margin: 5px 5px 5px 5px;
   padding: 8px;
}

#inner-box {
   border-radius: 10px;
   margin: 5px;
   padding-top: 5px;
   opacity: 0.8;
}

#outer-box {
   border-radius: 10px;
   padding: 5px;
}
