#entry {
   border-radius: 5px;
   padding: 5px;
   color: #fbf7ff;
   margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
   background-color: rgb(20, 20, 20);
   color: #f0e0ff;
   padding: 5px;
   outline-style: none;
}

#window {
   animation-name: fadeIn;
   animation-duration: 0.4s;
   background-color: rgb(5, 5, 5);
   font-size: 14;
}

#input {
   border: none;
   color: #f0e0ff;
   background-color: rgb(20, 20, 20);
   border-radius: 10px;
   margin: 5px 5px 5px 5px;
   padding: 8px;
}

#inner-box {
   border-radius: 10px;
   margin: 5px;
   padding-top: 5px;
   opacity: 0.8;
}

#outer-box {
   border-radius: 10px;
   padding: 5px;
}
